/**
 * Default HTML
 */
html,
body
{
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body
{
	cursor: default;
}


/**
 * Header
 */
header.shinken
{
	background: transparent url('/static/img/cave.jpg') no-repeat center bottom;
	background-size: 100% auto;
}
header.shinken .bg
{
	background-color: rgba(0,0,0,0.5);
	padding: 15px 0px;
	box-shadow: rgba(0,0,0,0.3) 0px -1px 12px inset;
}
header.shinken .container,
header.shinken .container .row
{
	margin: 0px auto;
	padding: 0px;
}
header.shinken h1,
header.shinken h2
{
	margin: 0px;
	padding: 0px;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 0px;
}
header.shinken h1
{
	font-size: 2.2rem;
	color: #ffffff;
	margin-bottom: 10px;
}
header.shinken h2
{
	font-size: 1rem;
	color: #cfcfcf;
	padding-left: 30px;
}
header.shinken input
{
	color: #ffffff;
}
header.shinken input[type=text]:focus:not([readonly])
{
	border-bottom: 1px solid #c6ff00;
	box-shadow: 0 1px 0 0 #c6ff00;
}
header.shinken a.bookmark,
header.shinken a.menu
{
	display: inline-block;
	margin-top: 16px;
}
header.shinken a.bookmark i
{
	color: #eeff41;
}
header.shinken a.bookmark:hover i
{
	color: #c6ff00;
}
header.shinken a.menu i
{
	color: #afafaf;
}
header.shinken a.menu:hover i
{
	color: #039be5;
}
header.shinken .dropdown-content
{
	white-space: nowrap;
	width: auto !important;
}


/**
 * Login page
 */
.login
{
	background: transparent url('/static/img/cave.jpg') no-repeat center center;
	background-size: 100% auto;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.login > h1,
.login > h2
{
	font-weight: 300;
	text-align: center;
	text-shadow: rgba(0,0,0,1) 0px 1px 6px;
	margin: 0px;
	padding: 0px;
	line-height: 2.5rem;
}
.login > h1
{
	font-size: 2rem;
	color: #ffffff;
}
.login > h2
{
	font-size: 1.6rem;
	color: #afafaf;
}
.login .card-panel
{
	width: 400px;
	margin: 30px auto;
}
.login .card-panel h3
{
	font-size: 1.3rem;
	padding: 0px;
	margin: 0px;
}
.login .card-panel input
{
	margin: 0px;
}
.login .card-panel p
{
	margin: 5px 0px;
}
.login .card-panel .btn
{
	margin-top: 10px;
	width: 100%;
}
.login .card-panel input:focus:not([readonly])
{
	border-bottom: 1px solid #bf360c;
	box-shadow: 0 1px 0 0 #bf360c;
}


/**
 * Menu
 */
#menu a
{
	padding-left: 12px;
}
#menu a i
{
	float: left;
	width: 24px;
	font-size: 24px;
	margin-right: 10px;
	vertical-align: text-top;
}
#menu .collapsible-body a
{
	padding-left: 42px;
	font-weight: normal;
}


/**
 * Error page
 */
.error h1
{
	padding: 5px 0px 10px 0px;
	margin: 0px;
	font-size: 3rem;
}


/**
 * Headings
 */
h1.heading
{
	font-weight: 300;
	font-size: 1.6rem;
}
h2.heading
{
	font-weight: 300;
	font-size: 1.4rem;
	color: #777777;
	margin-bottom: 0px;
}


/**
 * Dashboard
 */
.dashboard .dashboard-icons i
{
	font-size: 2.5rem;
}
.dashboard .dashboard-icons p
{
	margin: 0px;
	padding: 0px;
}


/**
 * Overwrite default Materialize style
 */
.btn
{
	text-transform: none;
}
table thead th
{
	text-align: center;
}
table.striped tbody tr:nth-child(odd) td,
table.striped tbody tr.odd td
{
	background-color: #f9f9f9;
}
table.striped tbody tr:nth-child(even) td,
table.striped tbody tr.even td
{
	background-color: #ffffff;
}
table.highlight tbody tr:nth-child(odd):hover td,
table.highlight tbody tr:nth-child(even):hover td
{
	background-color: #f0f0f0;
}
table.condensed thead tr th,
table.condensed tbody tr td
{
	padding: 5px 12px;
}
table.condensed thead tr th.ico,
table.condensed tbody tr td.ico
{
	width: 22px;
	text-align: center;
}
input[type=checkbox].default-browser
{
	display: inline;
	position: relative;
	left: auto;
	opacity: 1;
}


/**
 * Search table
 */
table.search tr td
{
	border-bottom: 1px solid #e0e0e0;
}
table.search tr.opts
{
	display: none;
}
table.search tr.opts td
{
	background: #e5e5e5 linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.6)) !important;
	border-bottom: 3px solid #cfcfcf;
	padding: 6px 12px;
}
table.search tr.opts td:first-of-type
{
	padding-left: 52px;
}
table.search tr.opts td .card-panel.advanced
{
	overflow: auto;
	max-height: 100px;
}
table.search tr.opts td .btn
{
	padding: 0px 12px 1px 12px;
	font-size: 0.9em;
}
table.search tr.opts td .btn i
{
	vertical-align: text-top;
	margin: -10px 6px 0px 0px;
}
table.search tr td.checkbox
{
	width: 16px;
	vertical-align: middle;
	padding: 7px 10px 0px 10px;
}
table.search tr td.ico
{
	width: 16px;
	padding-top: 9px;
	padding-bottom: 3px;
	text-align: center;
}
table.search tr td.checkbox input[type=checkbox]
{
	width: 16px;
	height: 16px;
}
table.search tr.warning td
{
	background-color: #ffe0b2 !important;
}
table.search tr.critical td
{
	background-color: #ffcdd2 !important;
}
table.search tr.unknown td
{
	background-color: #e1bee7 !important;
}
table.search tr.warning:hover td,
table.search tr.critical:hover td,
table.search tr.unknown:hover td
{
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5));
}


/**
 *
 */
.full-width-container
{
	padding: 12px 35px;
}
